<div>
    <p style="color: #757575;padding: 1rem;">
      Welcome  Smart Stock <br>
  Please, log in to continue
    </p>
    <div style="margin-top: 16%;width: 90%;margin-left: auto;margin-right: auto;">
      <div>
        <label for="">Usuário</label>
      </div>
      <div>
        <input type="text" placeholder="Usuário" class="input-geral" [(ngModel)]="username">
      
      </div>
      <div>
        <label for="">E-mail</label>
      </div>
      <div>
        <input type="text" placeholder="E-mail" class="input-geral" [(ngModel)]="email">
      
      </div>
      <div>
        <label for="">Senha</label>
      </div>
      <div>
        <input type="text" placeholder="Senha" class="input-geral" [(ngModel)]="password">
      
      </div>
      <div>
        <div>
          <label for="">Confirmar Senha</label>
        </div>
      </div>
        <input type="text" placeholder="Confirmar Senha" class="input-geral" [(ngModel)]="confirm_password">
        
      <button class="btn-register" (click)="create_user()">Criar</button>
    </div>
  </div>