<div>
    <p style="color: #757575;padding: 1rem;">
      Welcome  Smart Stock <br>
  Please, log in to continue
    </p>
    <div style="margin-top: 16%;width: 90%;margin-left: auto;margin-right: auto;">
      <div>
        <label for="">Usuário</label>
      </div>
      <div>
        <input type="text" placeholder="Usuário" class="input-geral" [(ngModel)]="username">
      
      </div>
      <div>
        <label for="">E-mail</label>
      </div>
      <div>
        <input type="text" placeholder="E-mail" class="input-geral" [(ngModel)]="email">
      
      </div>
      <div>
        <label for="">Senha</label>
      </div>
      <div>
        <div style="display: flex;">
          <input [type]="typePassword" placeholder="password" class="input-geral" [(ngModel)]="password" style="position: relative;">
          <div style="position: absolute;right: 6%;margin-top: 10px;" (click)="changePassword()">
            @if(typePassword === 'password'){
              <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 24C2 24 10 8 24 8C38 8 46 24 46 24C46 24 38 40 24 40C10 40 2 24 2 24Z" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            }@else {
              <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_402_817)">
                <path d="M35.88 35.88C32.4612 38.486 28.2982 39.9297 24 40C10 40 2 24 2 24C4.48778 19.3638 7.93827 15.3132 12.12 12.12M19.8 8.48C21.1767 8.15776 22.5861 7.99668 24 8C38 8 46 24 46 24C44.786 26.2712 43.3381 28.4095 41.68 30.38M28.24 28.24C27.6907 28.8295 27.0283 29.3023 26.2923 29.6302C25.5563 29.9582 24.7618 30.1345 23.9562 30.1487C23.1506 30.1629 22.3503 30.0148 21.6032 29.713C20.8561 29.4112 20.1774 28.9621 19.6077 28.3923C19.0379 27.8226 18.5888 27.1439 18.287 26.3968C17.9852 25.6497 17.8371 24.8494 17.8513 24.0438C17.8655 23.2382 18.0418 22.4437 18.3698 21.7077C18.6977 20.9717 19.1705 20.3093 19.76 19.76M2 2L46 46" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_402_817">
                <rect width="48" height="48" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                
            }
          
              
          </div>
        </div>
      
      </div>
      <div>
        <div>
          <label for="">Confirmar Senha</label>
        </div>
      </div>
      
        
      
        <div style="display: flex;">
          <input [type]="typePassword2" placeholder="password" class="input-geral" [(ngModel)]="confirm_password" style="position: relative;">
          <div style="position: absolute;right: 6%;margin-top: 10px;" (click)="changePassword2()">
            @if(typePassword2 === 'password'){
              <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 24C2 24 10 8 24 8C38 8 46 24 46 24C46 24 38 40 24 40C10 40 2 24 2 24Z" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24 30C27.3137 30 30 27.3137 30 24C30 20.6863 27.3137 18 24 18C20.6863 18 18 20.6863 18 24C18 27.3137 20.6863 30 24 30Z" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            }@else {
              <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_402_817)">
                <path d="M35.88 35.88C32.4612 38.486 28.2982 39.9297 24 40C10 40 2 24 2 24C4.48778 19.3638 7.93827 15.3132 12.12 12.12M19.8 8.48C21.1767 8.15776 22.5861 7.99668 24 8C38 8 46 24 46 24C44.786 26.2712 43.3381 28.4095 41.68 30.38M28.24 28.24C27.6907 28.8295 27.0283 29.3023 26.2923 29.6302C25.5563 29.9582 24.7618 30.1345 23.9562 30.1487C23.1506 30.1629 22.3503 30.0148 21.6032 29.713C20.8561 29.4112 20.1774 28.9621 19.6077 28.3923C19.0379 27.8226 18.5888 27.1439 18.287 26.3968C17.9852 25.6497 17.8371 24.8494 17.8513 24.0438C17.8655 23.2382 18.0418 22.4437 18.3698 21.7077C18.6977 20.9717 19.1705 20.3093 19.76 19.76M2 2L46 46" stroke="#ccc" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_402_817">
                <rect width="48" height="48" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                
            }
          
              
          </div>
        </div>
        <span style="color: red;">{{errorMsg}}</span>
        <button class="btn-register" (click)="create_user()" [disabled]="(!username) || (!email) || (!password) || (!confirm_password) || (disableTemp)">
          <div style="display: flex;justify-content: center;gap: 20px;">
            <div>Criar</div>
            @if (disableTemp) {
              <div class="spinner"></div>
         
               }
          </div>
          </button>
    </div>
  </div>