/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    background: #fefefe;
    font-family: Roboto, sans-serif;
    width: 100%;
}
.mt1{
    margin-top: 16px;
}
.mt0{
    margin-top: 8px;
}
.w100{
    width: 100%;
}
.pd8{
    padding: 8px;
}
.f16{
    font-size: 16px;
    
}
.btn-register:disabled{
    opacity: 0.5;
  }
.btn-register{
    background: #5F3DDE;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width:  100%;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
}
.btn-delete{
    background: #e53535;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    width:  100%;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
}
.btn-delete:disabled{
    opacity: 0.5;
}
.btn-login{
    background: #fff;
    color: #5F3DDE;
    border: 1.5px solid #5F3DDE;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 48px;
    font-size: 20px;
    font-weight: bold;
}
.bar-sup{
    background: #5F3DDE;
    height: 40px;
    width: 100%;
    color: #fefefe;
    padding: 8px;
    display: flex;
    align-items: center;
}

.card{
    /* background: #fff; */
    border-radius: 8px;
    border: 1px solid #D9D9D9;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);**/
    padding: 10px; 
    min-height: 40px;
    height: 100%;
    
}
.flex{
    display: flex;
   
}
.gp20{
    gap: 20px;
}
.sep-vertical{
    width: 1px;
    height: 60%;
    background: #ccc;
}
.spinner {
    border: 3px solid #f3f3f3;
    border-top:3px solid #7c7c7d;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 