<div style="width: 94%;margin-left: auto;margin-right: auto;">
    <div style="height: 72px;"></div>
    <p-dropdown 
    [options]="list_clientes" 
    [(ngModel)]="cliente" 
    optionLabel="name" 
    placeholder="Selecione cliente" />
   
    <div class="flex gp4 mt0">
        <input type="text" placeholder="Pesquisar" class="input-geral" >
        <div class="btn-filter">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 3H2L10 12.46V19L14 21V12.46L22 3Z" stroke="#F3F3F3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
                
        </div>
    </div>
    <div style="height: calc(100dvh - 360px);overflow-y: auto;">
        @if (!show_list) {
            <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
                <div class="spinner" ></div>
            </div>
           
       
             }@else {
                @if(list_products.length > 0){
                    @for (item of list_products; track $index) {
                        <div class="mt0">
                            <div class="card-product" (click)="go_to(item._id)">
                                <div style="height: 56px;width: 56px;">
                                    <img src="images/img.png" alt="" style="width: 100%;height: 100%;">
                                </div>
                                <div style="width: 80%;">
                                    <div style="display: flex;height: 40px;justify-content: space-between;">
                                        <div >
                                         
                                            <span><b>{{item.name}}</b> </span>
                                           
                                        </div>
                                        <div>
                                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.4998 6.66675V13.3334M7.1665 10.0001H13.8332M18.8332 10.0001C18.8332 14.6025 15.1022 18.3334 10.4998 18.3334C5.89746 18.3334 2.1665 14.6025 2.1665 10.0001C2.1665 5.39771 5.89746 1.66675 10.4998 1.66675C15.1022 1.66675 18.8332 5.39771 18.8332 10.0001Z" stroke="#5F3DDE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                
                                                
                                        </div>
                                        
                                    </div>
                                    <div style="display: flex;justify-content: space-between;">
                                        <div>R$ <b>{{item.price_sale}}</b> </div>
                                        <div style="width: 110px;">Estoque: @if(item.stock){ <b>{{item.stock}} </b>}@else {&infin;}</div>
                                    </div>
                                </div>
                              
                              
                            </div>
                
                        </div>
                    }
                }@else {
                    <span>Sem produtos para mostrar</span>
                }
             }
    </div>
    <div style="height: 50px;width: 100%;background: #ccc;margin-top: 4px;">
       <div style="display: flex;justify-content: space-between;">
        <div style="padding: 4px;">
            <b>Informação do pedido</b>
        </div>
        <div class="btn-detalhe">
            Ver detalhes
        </div>
       </div>
        
<div style="display: flex;justify-content: space-between;align-items: center; padding: 4px;">
<div>
    <span>Items: <b>3</b></span>
</div>
<div>
    <span>Valor: <b>R$ 250,00</b></span>
</div>
</div>
    </div>
    <div style="margin-bottom: 10px;">
        <button class="btn-register f16" (click)="criar_p()">Finalizar pedido</button>
    </div>
    
</div>
